/* //////////////////////////////////////HEADER////////////////////////////////////// */

.sfondoHeader{
    background-image: url(../img/wall.png);

}

h1{
    text-align: center;
    font-size: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: "Edu TAS Beginner", sans-serif;
}
/* //////////////////////////////////////MAIN////////////////////////////////////// */

body{
    background-image: url(../img/cork.png);

    
}

.colonna{
    background-color: aqua;
    height: 400px;
}
