*{
    box-sizing: border-box;
}

/* //////////////////////////////////////--HEADER--////////////////////////////////////// */
/* sfondo header */
.sfondoHeader{
    background-image: url(../img/wall.png);

}
/* titolo */
h1{
    text-align: center;
    font-size: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    font-family: "Edu TAS Beginner", sans-serif;
}
/* //////////////////////////////////////--MAIN--////////////////////////////////////// */
/* sfondo main */
body{
    background-image: url(../img/cork.png);
}

/*////// __card__ ///////*/
/* //////////////// */

/* card con il contenuto */
.cardInfo{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    font-family: "Sometype Mono", monospace;
    font-size: 15px;
    position: relative;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px hwb(0 0% 100% / 0.242);
}

/* bonus animazioni */
@keyframes mymove {
    100% { transform: rotate(10deg) scale(1.1); }
  }
.cardInfo:hover {
    animation: mymove 1s ease-in-out forwards;
  }

/* per le immagini */
.cardInfo img{
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;

}

/* puntina */
.point{
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%);
}

/* descrizione immagini */
.titoloCard{
    font-size: 30px;
    font-family: "Edu TAS Beginner", sans-serif;    
    padding-left: 15px;

}

.dataCard{
    padding-left: 15px;
}

/* /////////////////////////////////////--OVERLAY--//////////////////////////////////// */
/* sfondo overlay nero */
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2; 

}
/* immagine overlay */
#OverlayImg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

  }

  /* pulsante overlay di chiusura */
#offB{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* non funziona, do width direttamente alla stringa 
.overlay-image {
    width: 300px;
    height: auto;
} */