*{
    box-sizing: border-box;
}

/* //////////////////////////////////////HEADER////////////////////////////////////// */

.sfondoHeader{
    background-image: url(../img/wall.png);

}

h1{
    text-align: center;
    font-size: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    font-family: "Edu TAS Beginner", sans-serif;
}
/* //////////////////////////////////////MAIN////////////////////////////////////// */

body{
    background-image: url(../img/cork.png);
}

/* card */
/* /////// */

.picSquare{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    font-family: "Sometype Mono", monospace;
    font-size: 15px;
    position: relative;
    
}

.picSquare img{
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.point{
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.titoloCard{
    font-size: 30px;
    font-family: "Edu TAS Beginner", sans-serif;    
    padding-left: 15px;
}

.dataCard{
    padding-left: 15px;
}